<div class="panel panel-default">
    <div class="panel-heading"> 
        <h3 class="panel-title">Manage content</h3>
    </div>
    <div class="panel-body">
        <p>
            <a href="<?php echo $this->url('blog/addPost'); ?>">Add article</a>
        </p>
        <p>
            <a href="<?php echo $this->url('blog/addCategory'); ?>">Add category</a>
        </p>
        <p>
            <a href="<?php echo $this->url('blog/addTag'); ?>">Add tag</a>
        </p>
        <?php if (isset($post) && $post instanceof Blog\Model\Post): ?>
            <p>
                <a href="<?php echo $this->url('blog/editPost', array('action' => 'editPost', 'id' => $post->getId())); ?>">Edit article</a>
            </p>
            <p>
                <a href="<?php echo $this->url('blog/deletePost', array('action' => 'deletePost', 'id' => $post->getId())); ?>">Delete article</a>
            </p>
        <?php endif; ?>
        <?php if (isset($category) && $category instanceof Blog\Model\Category): ?>
            <p>
                <a href="<?php echo $this->url('blog/editCategory', array('action' => 'editCategory', 'id' => $category->getId())); ?>">Edit category</a>
            </p>
            <p>
                <a href="<?php echo $this->url('blog/deleteCategory', array('action' => 'deleteCategory', 'id' => $category->getId())); ?>">Delete category</a>
            </p>
        <?php endif; ?>
        <?php if (isset($tag) && $tag instanceof Blog\Model\Tag): ?>
            <p>
                <a href="<?php echo $this->url('blog/editTag', array('action' => 'editTag', 'id' => $tag->getId())); ?>">Edit tag</a>
            </p>
            <p>
                <a href="<?php echo $this->url('blog/deleteTag', array('action' => 'deleteTag', 'id' => $tag->getId())); ?>">Delete tag</a>
            </p>
        <?php endif; ?>
    </div>
</div>