<h4><a href="<?php echo $this->url('blog/listArchivesPosts',
    array('action' => 'listArchivesPosts')); ?>">Архив</a></h4>
<?php  $dates = $this->archiveDates('month');
    if (count($dates)) {
        foreach ($dates as $year => $months) { ?>
            <a href="<?php echo $this->url('blog/listArchivesPosts',
                array('action' => 'listArchivesPosts', 'year' => $year)); ?>">
                <?php echo $this->escapeHtml($year); ?></a>
            <ol class="list-unstyled">
                <li>
                    <ul>
                        <?php foreach ($months as $month) { ?>
                            <li>
                                <a href="<?php echo $this->url('blog/listArchivesPosts',
                                    array('action' => 'listArchivesPosts', 'year' => $year, 'month' => key($month))); ?>">
                                    <?php echo $this->escapeHtml(key($month)); ?></a>
                                (<?php echo $this->escapeHtml($month[key($month)]); ?>)
                            </li>
                        <?php } ?>
                    </ul>
                </li>  
            </ol>
        <?php 
        }
    }
?>












<h4>Archives</h4>
<ol class="list-unstyled">
    <li><a href="#">March 2014</a></li>
    <li><a href="#">February 2014</a></li>
    <li><a href="#">January 2014</a></li>
    <li><a href="#">December 2013</a></li>
    <li><a href="#">November 2013</a></li>
    <li><a href="#">October 2013</a></li>
    <li><a href="#">September 2013</a></li>
    <li><a href="#">August 2013</a></li>
    <li><a href="#">July 2013</a></li>
    <li><a href="#">June 2013</a></li>
    <li><a href="#">May 2013</a></li>
    <li><a href="#">April 2013</a></li>
</ol>
