<h1>WriteController::addAction()</h1>

<?php
$form = $this->form;
$form->setAttribute('action', $this->url('blog/addCategory', array(), true));
$form->prepare();

$form->get('submit')->setValue('Add Category');

echo $this->form()->openTag($form);

$tag = $form->get('category');
echo $this->formRow($tag->get('id'));
echo $this->formRow($tag->get('title'));
?><br><?php
echo $this->formElement($form->get('submit'));

?>

<?php
echo $this->form()->closeTag();