<div class="row row-offcanvas row-offcanvas-right">
    <div class="page-header">
      <h1>Example page header <small>Subtext for header</small></h1>
    </div>
    <div class="col-xs-12 col-sm-9">
        <p class="pull-right visible-xs">
            <button data-toggle="offcanvas" class="btn btn-primary btn-xs" type="button">Toggle nav</button>
        </p>
        <div class="row">
            <?php if (count($this->posts)): ?>
                <?php foreach ($this->posts as $post): ?>
                    <div class="col-xs-6 col-lg-4">
<!--                        <h4><?php //echo $this->escapeHtml($post->getTitle()); ?></h4>-->
                        <div class="div-1">
                        <h3><a href="<?php echo $this->url('blog/detailPost',
                            array('action' => 'detailPost', 'id' => $post->getId())); ?>">
                            <?php echo $this->escapeHtml($post->getTitle()); ?></a></h3>
                        
                        <p>
                            <?php echo $this->htmlPurifier($post->getText()); ?>
                        </p>
                                                
                        </div>
<!--                        <p><a role="button" href="#" class="btn btn-default">View details »</a></p>-->
                    </div><!--/.col-xs-6.col-lg-4-->
                <?php endforeach; ?>
            <?php endif; ?>
        </div><!--/row-->
    </div><!--/.col-xs-12.col-sm-9-->

    <div id="sidebar" class="col-xs-6 col-sm-3 sidebar-offcanvas">
        <div class="list-group">
            <a class="list-group-item" href="<?php echo $this->url('blog/listPosts',
                array('action' => 'listPosts')); ?>">Articles</a>
            <a class="list-group-item" href="<?php echo $this->url('blog/listCategories',
                array('action' => 'listCategories')); ?>">Categories</a>
            <a class="list-group-item" href="#">Archives</a>
            <a class="list-group-item" href="<?php echo $this->url('blog/listTags',
                array('action' => 'listTags')); ?>">Tags</a>
        </div>
        <?php echo $this->partial('partial/contentManagerPanel.phtml'); ?>
    </div><!--/.sidebar-offcanvas-->
</div><!--/row-->

<?php echo $this->paginationControl($this->posts,
        'Sliding',
        'partial/paginator.phtml', 
        array('route' => 'blog/page')); ?>